= render "share/title_bar"
.wrapper
  = render "share/side_bar"
  .main
    .content
      .message-header
        .message-header__box
          .message-header__box-title
            目標名 : 
          .message-header__box-content
            = @match.target.target
      = render partial: 'message', collection: @messages
    = form_with(model:@message, local: true, class: "message-form") do |form|
      = form.text_field  :message, class: "message-form__input"
      = hidden_field_tag :match_id, params[:match_id], class: "message-form__id"
      = form.submit "Send", class: "message-form__button"