= render partial: 'message', collection: @messages
      
message new
= form_with(model:@message, local: true) do |form|
  = form.text_field  :message
  = hidden_field_tag :match_id, params[:match_id]
  = form.submit "Send"