= render "share/title_bar"
.wrapper
  = render "share/side_bar"
  .main
    = form_for @target do |f|
      .target-name
        .target-name__box
          .target-name__box-title
            商品名
          .target-name__box-required
            必須
        = f.text_field :target, class: "target-name__text", placeholder: "40文字まで"
      .target-explanation
        .target-explanation__box
          .target-explanation__box-title
            商品の説明
          .target-explanation__box-required
            必須
        = f.text_area :explanation, class: "target-explanation__text", placeholder: "目標の説明（必須 1,000文字以内）\n（色、素材、重さ、定価、注意点など）\n\n例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。", rows: "7"
      .target-limit
        .target-limit__box
          .target-limit__box-title
            達成目標日
          .target-limit__box-required
            必須
        = f.text_field :limit, class: "target-limit__text", placeholder: "40文字まで"
      .target-button
        = f.submit "決定", class: "target-button__decision"
        =link_to "もどる", '/' , class: 'target-button__back'