= render "share/title_bar"
.wrapper
  = render "share/side_bar"
  .main
    .search
      .search-name
        = "#{params[:keyword]}"
      .search-list
        - @targets.each do |target|
          - if target.status == "No Pare"
            .search-list_box
              = image_tag "#{target.user.icon}", class:"search-list_box_icon"
              .profile
                .profile-name
                  = target.user.nickname
                .profile-detele
                  .profile-detele_limit
                    = target.limit
                  .profile-detele_gender
                    = target.user.gender
                .profile-message
                  = target.explanation
              .search-target
                = link_to target_path(target.id) do
                  .search-target__button
                    Pare