= render "share/title_bar"
.wrapper
  = render "share/side_bar"
  .main
    .target
      .search-name
        = "#{params[:keyword]}"
      .target-list
        - @targets.each do |target|
          .target-list_box
            .target-list_box_icon
              .target-list_box_icon-image
                = target.user.icon
            .profile
              .profile-name
                = target.user.nickname
              .profile-detele
                .profile-detele_limit
                  = target.limit
                .profile-detele_gender
                  = target.user.gender
              .profile-message
                = target.explanation
            .match
              .match-button
                Pare