= render "share/title_bar"
.wrapper
  = render "share/side_bar"
  .main
    .show
      .show-main
        .target-box
          .target-box__title
            .target-box__title-text
              ユーザー名
          .target-box__field
            = @target.user.nickname
        .target-box
          .target-box__title
            .target-box__title-text
              目標名
          .target-box__field
            = @target.target
        .target-box
          .target-box__title
            .target-box__title-text
              目標への意気込み
          .target-box__area
            = @target.explanation
        .target-box
          .target-box__title
            .target-box__title-text
              目標日
          .target-box__field
            = @target.limit
        - if current_user.id == @target.user_id
          .target-button
            .target-button__decision
              = link_to "Edit", "#"
            .target-button__back
              = link_to "Back", '/'
        - else
          - if @target.status == "No Pare"
            .target-button
              .target-button__decision
                = link_to "Pare", done_matchs_path(target_id: @target)
              .target-button__back
                = link_to "Back", '/'
          - else
            .target-button
              .target-button__decision
                Pare結成済
              .target-button__back
                = link_to "Back", '/'