= render "title_bar"
.wrapper
  = render "side_bar"
  .main
    .target-name
      .target-name__box
        .target-name__box-title
          商品名
      .target-name__text
        = @target.target
    .target-explanation
      .target-explanation__box
        .target-explanation__box-title
          商品の説明
      .target-explanation__text
        = @target.explanation
    .target-limit
      .target-limit__box
        .target-limit__box-title
          達成目標日
      .target-limit__text
        = @target.limit
    .target-button
      = link_to "Pare", new_match_path, class: "target-button__Pare"
      = link_to "編集画面に進む", "#", class: "target-button__edit"
      = link_to "もどる", '/' , class: 'target-button__back'