= render "share/title_bar"
.wrapper
  = render "share/side_bar"
  .main
    .show
      .show-main
        .target-box
          .target-box__title
            .target-box__title-text
              目標名
          .target-box__field
            = @target.target
        .target-box
          .target-box__title
            .target-box__title-text
              目標への意気込み
          .target-box__area
            = @target.explanation
        .target-box
          .target-box__title
            .target-box__title-text
              目標日
          .target-box__field
            = @target.limit
        .target-button
          .target-button__decision
            = link_to "編集画面に進む", "#"
          .target-button__back
            = link_to "もどる", '/'