= render "share/title_bar"
.wrapper-user
  .user
    .header
      .header-title
        Edit
    .main
      .main-box
        = form_for(current_user) do |f|
          .field
            .main-box_form
              .main-box_form-title
                mail :
              .main-box_form-input
                = f.email_field :email, autofocus: true, autocomplete: "email"
            .main-box_form
              .main-box_form-title
                nickname :
              .main-box_form-input
                = f.text_field :nickname, autofocus: true, autocomplete: "nickname"
            .main-box_form
              .main-box_form-title
                gender :
              .main-box_form-input
                = f.text_field :gender, autofocus: true, autocomplete: "gender"
            .main-box_form
              .main-box_form-title
                profile :
              .main-box_form-input
                = f.text_field :profile, autofocus: true, autocomplete: "profile"
            .main-box_form
              .main-box_form-title
                icon :
              .main-box_form-input
                = f.text_field :icon, autofocus: true, autocomplete: "icon"
          .actions
            .actions-buttom
              .actions-buttom__edit
                = f.submit "Edit"
              .actions-buttom__back
                = link_to "Back", '/'